# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class

# Environment
.venv
env/
venv/
ENV/

# VS Code
.vscode


# Excel files (if they're not needed in container)
*.xlsx
*.csv

# Log files
*.log

# Cache
.pytest_cache/
.coverage
htmlcov/

# Temp files
tempCodeRunnerFile.py
